includeConfig '$saige_exwas.config'

profiles {

    non_docker_dev {
        process.executor = 'local'
    }

    standard {
        process.executor = 'local'
        process.container = 'saige.sif'
        docker.enabled = true
        process.memory = '15GB'
    }

    cluster {
        process.executor = 'lsf'
        process.queue = Enter the Queue name
        executor {
            queueSize=500
        }
        process.memory = '15GB'
    	process.container = Enter .sif file
        singularity.enabled = true
        singularity.runOptions = '-B /project/,/static/'
    }

    all_of_us {
        process.executor = 'google-lifesciences'
        process.memory = '15GB'
        process.container = Enter .sif file
        google.zone = "us-central1-a"
        google.project = 'xxx' // change to your project id
        google.lifeSciences.debug = true
        google.lifeSciences.network = "network"
        google.lifeSciences.subnetwork = "subnetwork"
        google.lifeSciences.usePrivateAddress = false
        google.lifeSciences.serviceAccountEmail = 'xxx' // change to your service email
        google.lifeSciences.copyImage = "gcr.io/google.com/cloudsdktool/cloud-sdk:latest"
        google.enableRequesterPaysBuckets = true
        workDir='gs://bucket/work/' // change to your working directory in your workspace bucket
    }
}
